/* Allgemeine Styles */
body {
    font-family: Arial, sans-serif;
}

<<<<<<< HEAD
h1, h2 {
=======
header img {
    width: 400px;
}

header li {
    border: 1px solid yellowgreen;
    padding: 10px;




}

header li:hover {
    background-color: purple
}

header ul {
    display: flex;
    list-style: none;
}

.hero {
    background-image: url(backgroundbild.jpg);
    background-size: cover;


    display: flex;
    align-items: center;

}

.hero h1 {
    color: black;
    font-size: 40px;
    width: 400px;
    height: 200px;




}

h2 {
    font-size: 40px;
>>>>>>> 8ac0d9e3347ae6349ed9416ef1eb155918c268cd
    text-align: center;
}

.container {
    display: flex;
    justify-content: center; /* Zentriert die Cards */
    gap: 30px;/* Kleinerer Abstand zwischen den Cards */
    flex-wrap: wrap; /* Sorgt dafür, dass sie umbrechen, wenn der Platz zu wenig wird */
    margin-top: 20px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 30px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.921);
    margin-bottom: 20px;
}

.card img {
    width: 100%;
}

.card:hover {
    background-color: blue;
}

<<<<<<< HEAD
/* Spezifische Anpassungen */
ul {
    list-style: none;
    padding: 0;
=======
main {
    background-image: url(backgroundbild.jpg);

>>>>>>> 8ac0d9e3347ae6349ed9416ef1eb155918c268cd
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

<<<<<<< HEAD
button:hover {
    background-color: darkgreen;
=======

.img-comp-img img:hover {
    transform: rotate(360deg)
}

footer {
    background-image: url(backgroundbild.jpg);
>>>>>>> 8ac0d9e3347ae6349ed9416ef1eb155918c268cd
}